<IfModule mod_rewrite.c>
  Options -Indexes
  RewriteEngine On
  RewriteBase /

  # Исключение для index.html
  RewriteRule ^index\.html$ - [L]

  # Исключение для файлов и директорий
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Исключение для папок backend и images
  RewriteCond %{REQUEST_URI} !^/backend
  RewriteCond %{REQUEST_URI} !^/images

  # Перенаправление всех остальных запросов на /~пользователь/index.html
  RewriteCond %{REQUEST_URI} ^/~([^/]+)/.*$
  RewriteRule . /~%1/index.html [L]
</IfModule>