@mixin is-mobile() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

html,
body {
  touch-action: pan-x pan-y;
}

body {
  margin: 0;
  overflow-x: hidden;

  @media screen and (min-width: 0px) and (max-width: 1200px) {
    overflow-x: unset;
  }
}

#app {
  font-family: 'Inter',
    'Noto Sans JP',
    'Noto Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e1e1e;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

main {
  max-width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include is-mobile() {
    min-width: 0px;
    width: 100vw;
    overflow-x: hidden;
  }
}

.router-view {
  min-height: calc(100vh - 222px);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px; //лучше оставить так и добавлять отступы на конкретных страницах если нужно
}


.button {
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  padding: 12px;
  min-width: 75px;
  height: 40px;
  background: #2c2c2c;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #f5f5f5;

  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: #1e1e1e;
  }

  &:disabled {
    cursor: unset;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #b3b3b3;
  }

  &.danger {
    border: 1px solid #ec221f;
    background: #ec221f;
    color: #fee9e7;

    &:hover {
      background: #c00f0c;
      border: 1px solid #c00f0c;
    }
  }

  &-plain {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 12px;
    min-width: 75px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #2c2c2c;
    cursor: pointer;
    transition: color 0.3s ease;
    background: transparent;
    font-weight: 500;

    &:hover {
      color: #1e1e1e;
      background: #d9d9d9;
    }

    &:disabled {
      cursor: unset;
      color: #2c2c2c;
      opacity: 0.7;
    }

    &.danger {
      color: #ec221f;

      &:hover {
        color: #c00f0c;
      }
    }
  }

  &-outlined {
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    padding: 12px;
    min-width: 75px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #2c2c2c;
    cursor: pointer;
    transition: color 0.3s ease;
    transition: background 0.3s ease;
    background: transparent;
    font-weight: 500;

    &:hover {
      border: 1px solid #1e1e1e;
      color: #1e1e1e;
    }

    &:disabled {
      cursor: unset;
      opacity: 0.7;
    }

    &.danger {
      border: 1px solid #ec221f;
      color: #ec221f;

      &:hover {
        border: 1px solid #c00f0c;
        color: #c00f0c;
      }
    }
  }
}


::placeholder {
  color: #b3b3b3;
  opacity: 1;

}

::-ms-input-placeholder {
  color: #b3b3b3;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #1e1e1e;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #1e1e1e;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #757575;
}


label {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #1e1e1e;
}

input,
textarea {
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  min-width: 10px;
  transition: border-color 0.3s ease;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: #adadad;
  }

  &:hover:not(:disabled) {
    border-color: #adadad;
  }

  &:disabled {
    background: #d9d9d9;
    color: #b3b3b3;

  }

  &.danger {
    border-color: #ec221f;
    color: #ec221f;
  }
}

input {
  padding: 0px 12px;
  height: 40px;
  align-items: center;
}

textarea {
  padding: 12px 12px;
  min-height: 156px;
}

select {
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
}


.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}


.alert-filed {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 24px;
  align-items: center !important;

  font-size: 16px;
  line-height: 140%;
  color: #757575;

  img {
    width: 20px;
  }

  p {
    margin: 0;
  }

  &.danger {
    border: 1px solid #ea4744;
    color: #ec221f;
  }
}

.no-scroll {
  overflow: hidden;
}

.pagination-controls {
  margin-top: auto;
}